.parent-flexbox {
    margin-top: 50xp;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

 .parent-flexbox::before {
    content: '';
    height: 150px;
    width: 1px;
    background-color: #708090;
    margin-right: 10px;
}

.child-flexbox {
    width: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.child-1{
    background-color: #377D71;
    height: 80px;
    animation: changewidth1 2.5s linear 1s infinite alternate;
}

@keyframes changewidth1 {
    0% {
        height: 80px;
    }
    100% {
        background-color: #513252;
        height: 150px;
    }
}

.child-2 {
    background-color: #FBC5C5;
    height: 60px;
    animation: changewidth2 1.5s linear 2s infinite alternate;
}

@keyframes changewidth2 {
    0% {
        height: 60px;
    }
    100% {
        background-color: #7A4069;
        height: 90px;
    }
}

.child-3 {
    background-color: #FBA1A1;
    height: 100px;
    animation: changewidth3 2s linear infinite alternate;
}

@keyframes changewidth3 {
    0% {
        height: 100px;
    }
    100% {
        background-color: #CA4E79;
        height: 35px;
    }
}

.child-4 {
    background-color: #8879B0;
    height: 45px;
    animation: changewidth4 2.2s linear infinite alternate;
}

@keyframes changewidth4 {
    0% {
        height: 15px;
    }
    100% {
        background-color: #513252;
        height: 75px;
    }
}

.s-parent-flexbox {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.s-child-flexbox {
    margin-top: 15px;
    height: 1px;
    width: 300px;
    background-color: #708090;
}

.s-child-name {
    margin-top: 25px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 25px;
}

.s-child-footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
}

a {
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
}

img {
    margin-top: 15%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}